
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{

    font-family: 'Roboto', sans-serif;
} */


.grid{

    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    background-color: skyblue;
    

    display: grid;
    grid-template-columns:2fr  repeat(2, 1fr) ;
    gap: 50px;

}


.grid div{

   background-color: red;
   padding: 30px;
   border-radius: 10px;
}





@media (max-width: 1200px) {


 .grid{

    display: flex;
    flex-direction: column;
    

 }
    
 .grid div{

    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    color: aliceblue;
 }

 
  }
@media (max-width: 700px) {


 .grid{

    display: grid;
    

 }

 .grid div{

    background-color: greenyellow;
    padding: 10px;
    border-radius: 20px;
    color: aliceblue;
 }
    
  }